<div class="start">
  <p><%= image_tag "name.png" %></p>
</div>

<a id="movieButton"><p><%= image_tag "play.png" %></p></a>

<!--<video id ="movie_invalid" loop>-->
<!--  <source src="http://d23fto7fuil342.cloudfront.net/2021_INVALID_0111.mp4" type="video/mp4">-->
<!--</video>-->

<video id ="movie_invalid"  src="http://d23fto7fuil342.cloudfront.net/2021_INVALID_0111.mp4" loop></video>

<tbody>
    <% @microposts.each do |micropost| %>
      <tr>
        <td><%= micropost.content %></td>
      </tr>
    <% end %>
  </tbody>
<%= render 'form', micropost: @micropost %>

<script>
  console.log('hoge')
    $(function() {
  	setTimeout(function(){
  		$('.start p').fadeIn(1600);
  	},500); //0.5秒後にロゴをフェードイン!
  	setTimeout(function(){
  		$('.start').fadeOut(1600);
  	},1600); //2.5秒後にロゴ含め真っ白背景をフェードアウト！
  	setTimeout(function(){
  		$('#movieButton p').fadeIn(1600);
  	},3500); //0.5秒後にロゴをフェードイン!
  });
  
  $('#movieButton').click(function() {
    	$("#movie_invalid")[0].play();
    	setTimeout(function(){
  		$('#movieButton').fadeOut(1600);
  	},1000); //2.5秒後にロゴ含め真っ白背景をフェードアウト！
})
</script>

