<!--<div class="start">-->
<!--  <p><%= image_tag "name.png" %></p>-->
<!--</div>-->

<a id="movieButton"><p><%= image_tag "play.png" %></p></a>

<video id ="movie_invalid"  src="https://d23fto7fuil342.cloudfront.net/2021_INVALID_0111.mp4" loop></video>

<!--ここは要らなくなるはず-->
<!--<tbody class="messageToyou">-->
<!--    <% @microposts.each do |micropost| %>-->
<!--      <tr>-->
<!--        <td><%= micropost.content %></td>-->
<!--      </tr>-->
<!--    <% end %>-->
<!--  </tbody>-->
  
<%= render 'form', micropost: @micropost %>

<script>
  console.log('I am who I am, Then we are who we are.')
    $(function() {
  // 	setTimeout(function(){
  // 		$('.start p').fadeIn(1600);
  // 	},500); //0.5秒後にロゴをフェードイン!
  // 	setTimeout(function(){
  // 		$('.start').fadeOut(1600);
  // 	},1600); //2.5秒後にロゴ含め真っ白背景をフェードアウト！
  	setTimeout(function(){
  		$('#movieButton p').fadeIn(1600);
  	},2500); //0.5秒後にロゴをフェードイン!
  });
  
  $('#movieButton').click(function() {
    
    setTimeout(function(){
  		$('#movieButton').fadeOut(1600);
  	    },1000); //2.5秒後にロゴ含め真っ白背景をフェードアウト！
       $(function(){
      	setTimeout(function(){
      		$("#movie_invalid")[0].play();
      	},3000);
      });
    	
})

//参考
// pattern1
//https://stackoverflow.com/questions/30420968/how-to-use-the-gon-gem-to-show-database-values-rather-than-objects
// var renderedUsers = JSON.stringify(gon.micropost);
// alert(renderedUsers);
// pattern1 + α
// alert(renderedUsers);
// var obj = JSON.parse(renderedUsers);

//参考
// https://detail.chiebukuro.yahoo.co.jp/qa/question_detail/q12183688332
　// テキストのランダム表示
  // var mojiume = new Object();
  // mojiume.list = [
  // "あ", "い", "う", "え", "お",
  // "か", "き", "く", "け", "こ",
  // "さ", "し", "す", "せ", "そ",
  // "た", "ち", "つ", "て", "と"
  // ];
  
  // var mojiume = new Object();
  // var mojiume.list = gon.microposts 
  
  var mojiume = gon.microposts
  mojiume.count = 0;
  mojiume.limit = 50;
  mojiume.set = function(){
      var span = document.createElement("span");
      span.className = "mojiume";
      span.style.left = ( Math.random()*100 )+"%";
      span.style.top =( Math.random()*100 )+"%";
      span.textContent =
      // mojiume.list[ ( mojiume.count++)%mojiume.list.length ];
      mojiume[ ( mojiume.count++)%mojiume.length ];
      document.body.appendChild( span );
      if( document.querySelectorAll(".mojiume").length>=mojiume.limit ){
      clearInterval( mojiume.tmr );
  }
  };
  mojiume.tmr = setInterval( mojiume.set, 500 );

</script>

<%# テスト %>