<!--<div class="start">-->
<!--  <p><%= image_tag "name.png" %></p>-->
<!--</div>-->

<a id="movieButton"><p><%= image_tag "play.png" %></p></a>

<video id ="movie_invalid"  src="https://d23fto7fuil342.cloudfront.net/2021_INVALID_0111.mp4" loop></video>

<tbody class="messageToyou">
    <% @microposts.each do |micropost| %>
      <tr>
        <td><%= micropost.content %></td>
      </tr>
    <% end %>
  </tbody>
<%= render 'form', micropost: @micropost %>

<script>
  console.log('I am who I am, Then we are who we are.')
    $(function() {
  // 	setTimeout(function(){
  // 		$('.start p').fadeIn(1600);
  // 	},500); //0.5秒後にロゴをフェードイン!
  // 	setTimeout(function(){
  // 		$('.start').fadeOut(1600);
  // 	},1600); //2.5秒後にロゴ含め真っ白背景をフェードアウト！
  	setTimeout(function(){
  		$('#movieButton p').fadeIn(1600);
  	},2500); //0.5秒後にロゴをフェードイン!
  });
  
  $('#movieButton').click(function() {
    
    setTimeout(function(){
  		$('#movieButton').fadeOut(1600);
  	    },1000); //2.5秒後にロゴ含め真っ白背景をフェードアウト！
       $(function(){
      	setTimeout(function(){
      		$("#movie_invalid")[0].play();
      	},3000);
      });
    	
})

//参考
// https://detail.chiebukuro.yahoo.co.jp/qa/question_detail/q12183688332
　// テキストのランダム表示
　let mojiume = new Object();
　mojiume.list = [
  "あ", "い", "う", "え", "お",
  "か", "き", "く", "け", "こ",
  "さ", "し", "す", "せ", "そ",
  "た", "ち", "つ", "て", "と"
  ];
  mojiume.count = 0;
  mojiume.limit = 10;
  console.log('hey')
  mojiume.set = function(){
    console.log('hey')
    let span = document.Element("span");
    span.className = "mojiume";
    // ランダム位置に配置
    span.style.left = ( Math.random()*100 )+"%";
    span.style.top =( Math.random()*100 )+"%";
    // 文字リストの先頭から順番に表示
    span.textContent = mojiume.list[ ( mojiume.count++)%mojiume.list.length ];
    document.body.appendChild( span );
    mojiume.tmr = setInterval( mojiume.set, 500 );
  }
</script>