<div class="start">
  <p><%= image_tag "name.png" %></p>
</div>

<!--<div class="startVideo">-->
<!--  <p></p>-->
<!--</div>-->

<a id="movieButton"><%= image_tag "play.png" %></a>

<video id ="movie_invalid" loop>
  <source src="http://d23fto7fuil342.cloudfront.net/2021_INVALID_0111.mp4" type="video/mp4">
</video>

<tbody>
    <% @microposts.each do |micropost| %>
      <tr>
        <td><%= micropost.content %></td>
      </tr>
    <% end %>
  </tbody>
<%= render 'form', micropost: @micropost %>

<script>
  console.log('hoge')
    $(function() {
  	setTimeout(function(){
  		$('.start p').fadeIn(1600);
  	},500); //0.5秒後にロゴをフェードイン!
  	setTimeout(function(){
  		$('.start').fadeOut(1600);
  	},2500); //2.5秒後にロゴ含め真っ白背景をフェードアウト！
  	
  	setTimeout(function(){
  		$('.startVideo p').fadeIn(1600);
  	},500); //0.5秒後にロゴをフェードイン!
  });
  
  $('#movieButton').click(function() {
      console.log('hey')
    	$("#movie_invalid")[0].play();
})
</script>

