/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

 body {
  background-color: black;
  position: relative;
   margin: 0;
   width: 100%;
   height: 100vh;
}

#movie_invalid {
  object-fit: cover;
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 1;
}

.form_elemnt{
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  justify-content: center;
  width: 100%;
  height: 100vh
  
}


.form-content {
	width: 100%;
}

.actions {
	width: 100%;
}

.subimit_btn{
	width: 30%;
	height: 50px;
	background-color: black;
	color: white;
	/*border: 1px solid white;*/
	border: none;
	font-size: 25px;
	font-family: 'Noto Serif', serif;
	transition: all 3s;
}

.subimit_btn:hover{
	background-color: white;
	color: black;
	/*border: 2px solid black;*/
	border: none;
	font-family: 'Noto Serif', serif;
}

.field {
  margin: 0;
}


.label_field {
	color: white;
	font-size: 50px;
	font-family: 'Noto Serif', serif;
	margin-bottom: 50px;
}

.label_area {
	width: 30%;
	height: 30px;
	display: block;
	font-family: 'Noto Serif', serif;
	font-weight: bold;
}

/*初期画像の追加*/
/*.start {*/
/*	background-color: black;*/
/*	position: fixed;*/
/*	top: 0;*/
/*	left: 0;*/
/*	height: 100%;*/
/*	width: 100%;*/
/*	z-index: 9000;*/
/*}*/

/*.start p {*/
/*	position: fixed;*/
/*	left: 50%;*/
/*	top: 50%;*/
/*	transform: translate(-50%, -50%);*/
/*	display: none;*/
/*	z-index: 9999;*/
/*	width: 280px;*/
/*}*/


/*ビデオスタートの追加*/
#movieButton {
	background-color: black;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 9000;
}

#movieButton p {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: none;
	z-index: 9999;
	width: 280px;
}

#movieButton {
	  top: 0;
	  left: 0;
	z-index: 1000;
}

/*投稿したコンテンツの内容*/
.message_list {
	color: white;
	font-size: 13px;
}

/*テキストグラフィカリー*/
.main {
  display: inline-block;
  width: 800px;
  height: 30px;
  color: #eee;
  font-size: 25px;
  font-family:'Noto Serif', serif;;
  font-weight: bold;
  margin: auto;
  position: relative;
  overflow: hidden;
}

.main .text {
  /*display: block;*/
  display: inline-block;
  width: inherit;
  height: inherit;
  color: #eee;
  font-size: 30px;
  font-family: 'Noto Serif', serif;;
  font-weight: bold;
  left: 2px;
  top: 0px;
  position: absolute;
  overflow: hidden;
  animation-name: textBlink;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.shadow {
  position: absolute;
  width: inherit;
  height: 35px;
  overflow: hidden;
  animation-name: shadowDown;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.shadow .viewport {
  position: relative;
  width: inherit;
  height: 200px;
}

.shadow .text {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  animation-name: shadowTextUp;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes textBlink {
  0% {
    opacity: 1;
    left: 2px;
  }
  30% {
    opacity: .7;
  }
  70% {
    opacity: .8;
    left: -2px;
  }
  71% {
    opacity: .8;
    left: 0px;
  }
  75% {
    opacity: .8;
    left: 1px;
  }
  100% {
    opacity: 7;
    left: 0px;
  }
}

@keyframes shadowDown {
  0% {
    top: 0px;
  }
  10% {
    top: 20px;
  }
  20% {
    top: 30px;
  }
  40% {
    top: 35px;
  }
  60% {
    top: 50px;
  }
  70% {
    top: 20px;
  }
  100% {
    top: 10px;
  }
}

@keyframes shadowTextUp {
  0% {
    top: 0px;
  }
  10% {
    top: -20px;
    opacity: .5;
  }
  20% {
    top: -30px;
    opacity: 1;
  }
  40% {
    top: -35px;
  }
  60% {
    top: -50px;
    opacity: .5;
  }
  70% {
    top: -20px;
  }
  100% {
    top: -10px;
    opacity: 1;
  }
}


/*ランダム文字のcss*/
.mojiume{
display: flex;
align-items: center;
justify-content: center;
position: fixed;
width: 0px;
height: 0px;
overflow: visible;
font-size: 32px;
}