/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 body {
  background-color: black;
  position: relative;
   margin: 0;
   width: 100%;
   height: 100vh;
}

#movie_invalid {
  object-fit: cover;
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 1;
}

.form_elemnt{
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  justify-content: center;
  width: 100%;
  height: 100vh
}

.field {
  margin: 0;
}

.form-content {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
}


/*初期画像の追加*/
.start {
	background-color: black;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 9000;
}

.start p {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: none;
	z-index: 9999;
	width: 280px;
}


/*ビデオスタートの追加*/
#movieButton {
	background-color: black;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 9000;
}

#movieButton p {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: none;
	z-index: 9999;
	width: 280px;
}

#movieButton {
	 
	  top: 0;
	  left: 0;
	z-index: 1000;
}
